modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0"]

[userenv]

[userenv.shared]
NOTION_SCHEDULE_DB_ID = "7bdcf9acc8594ae9a8bb9a834155cddd"
NOTION_REQUEST_DB_ID = "fb55ece0fc6646febf66c6492762a508"
NOTION_PRICING_DB_ID = "56c46f6a802d4d449cb3c7bed9f05b69"
NOTION_QUOTES_DB_ID = "eb9f26a4c70a4d33a1de5f98967ec0dd"
